.row.jumbotron {
	padding:0em;
	margin-top:0em;
	margin-bottom:10em;
	min-height:10em;
}

.sf-image {
	margin-top:0em;
	margin-bottom:0em;
}

.sf-text {
	padding:2em;
}

.container-fluid {
	background-color: rgba(0, 0, 0, 0.7);

}

/*body {
	background: url('code1.jpg') repeat-y fixed;
	background-size: contain;
}*/

body {
	background: url(code1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.9);
}

.problem-statement{
	/*background: url('code2.jpg');*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-color: rgba(0, 0, 0, 0.5);
	background-size: contain;
	height:35em;
}

.problem-statement h1, .problem-statement h2{
	color:white;
}
.solution-statement{
	/*background: url('code2.jpg');*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-color: rgba(0, 0, 0, 0.5);
	background-size: contain;
	height:35em;
}

.solution-statement h1, .solution-statement h2, .solution-statement h3{
	color:white;
}
