.row.jumbotron {
	padding:0em;
	margin-top:0em;
	margin-bottom:10em;
	min-height:10em;
}

.sf-image {
	margin-top:0em;
	margin-bottom:0em;
}

.sf-text {
	padding:2em;
}

.container-fluid {
	background: url('code2.jpg') repeat-y fixed;
	background-size: cover;
}

.problem-statement{
	/*background: url('code2.jpg');*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	min-height:100%;
}

.problem-statement h1, .problem-statement h2{
	color:white;
}
